h1{
    font-family: 'Bungee Inline', cursive;
    color: mediumvioletred;
}

.navbar{
    font-size: 40px;
    font-family: 'Bungee Inline', cursive;
    color: white;
    background-color: black;
}
.Top{
    display: flex;
    justify-content: right;
    color: mediumvioletred;
    font-size: 120px;
    font-family: 'Bungee Inline', cursive; 
}
.Tens{
    display: flex;
    justify-content: left;
    color: black;
    font-size: 120px;
    font-family: 'Bungee Inline', cursive; 
}

.navRow{
position: fixed;
bottom:0;
width:50%;

}
